<div class="container">
    <div class="row">
        <div class="careers">

            <h1 class="page-header text-center">
                <span>Open position in </span>
                <span class="secondary-color">all locations</span>
            </h1>
            
            <div class="w-33 cpointer" *ngFor="let row of careers" [routerLink]="[row.id]">
                <div class="item">
                    <h2>{{row.title}}</h2>
                    <!-- <p>{{row.description}}</p> -->
                    <span class="location">
                        <mat-icon> location_on</mat-icon>
                        {{row.location}}
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>


