<div class="container mission-vision" id="mission-vision" #mvContainer>
    <div class="row">
        <ul class="list {{mvClass}}">
            <li class="list-item">
              <div class="list-content">
                <div class="img">
                    <!-- <img src="./assets/imgs/mission-vision/mission.png"> -->
                    <img [src]="missionImg">
                </div>
                <h2>Mission:  </h2>
                <p>
                    {{mission}}
                    <!-- At Virtual Staff Avenue, our mission is twofold. First, we aim to provide businesses with seamless access to a diverse pool of specialized virtual staff, meticulously selected to fit each organization's unique needs. Second, we're dedicated to creating sustainable remote work opportunities that empower individuals to showcase their skills, achieve work-life balance, and contribute to global economic growth. -->
                </p>
              </div>
            </li>

            <li class="list-item">
              <div class="list-content">
                <div class="img">
                    <!-- <img src="./assets/imgs/mission-vision/vision.png"> -->
                    <img [src]="visionImg">
                </div>
                <h2>Vision:  </h2>
                <p>
                    {{vision}}
                    <!-- Our vision is to reshape the global workforce landscape by revolutionizing the concept of remote work. We strive to empower businesses of all sizes with access to exceptional talent, irrespective of location. Through our platform, we aim to foster a borderless community of professionals and businesses working harmoniously to achieve remarkable feats. -->
                </p>
              </div>
            </li>
          
            <li class="list-item">
              <div class="list-content">
                <div class="img">
                    <!-- <img src="./assets/imgs/mission-vision/goal.png"> -->
                    <img [src]="goalsImg">
                </div>
                <h2>Goal:  </h2>
                    <!-- <ul class="goal">
                        <li>
                            <strong>
                                Connectivity:
                            </strong>
                            <span>
                                Forge connections that transcend distances, enabling businesses to tap into a global talent pool and professionals to access worldwide opportunities.
                            </span>
                        </li>
                        <li>
                            <strong>
                                Quality:
                            </strong>
                            <span>
                                Uphold the highest standards of excellence, curating virtual staff with proven expertise and dedication to deliver outstanding results.
                            </span>
                        </li>
                        <li>
                            <strong>
                                Innovation: 
                            </strong>
                            <span>
                                Continuously enhance our platform's features and capabilities to foster efficient collaboration, communication, and project management.
                            </span>
                        </li>
                        <li>
                            <strong>
                                Empowerment:
                            </strong>
                            <span>
                                Empower businesses to scale operations cost-effectively and empower virtual staff to build fulfilling careers without geographical limitations.
                            </span>
                        </li>
                    </ul> -->
                    <ul class="goal">
                        <li *ngFor="let goal of goals">
                            <strong>
                                {{goal.title}}
                            </strong>
                            <span>
                                {{goal.description}}
                            </span>
                        </li>
                    </ul>
              </div>
            </li>
        </ul>

    </div>
</div>