<div class="container problem-solution" id="problem-solution" #psContainer>
    <div class="row">
        <h1 class="page-header">
            <span>Problem & </span>
            <span class="secondary-color">Solution</span>
        </h1>

        <div class="problem {{problemClass}}">
            <div class="img">
                <img src="./assets/imgs/problem.png">
            </div>
            <div class="item">
                <button class="box-shadow" mat-flat-button color="accent">
                    The Problem
                </button>
                <p>
                    {{problem}}
                    <!-- The traditional employment model faces the challenges of talent shortages in specific regions, rising operational costs, and limited flexibility. Businesses often struggle to find the right talent locally, while skilled professionals face barriers to accessing opportunities that align with their expertise. -->
                </p>
            </div>
        </div>

        <div class="solution {{solutionClass}}">
            <div class="item">
                <div class="white-box">
                    <button class="box-shadow" mat-flat-button color="accent">
                        Our Solution
                    </button>
                    <p>
                        {{solution}}
                        <!-- The traditional employment model faces the challenges of talent shortages in specific regions, rising operational costs, and limited flexibility. Businesses often struggle to find the right talent locally, while skilled professionals face barriers to accessing opportunities that align with their expertise. -->
                    </p>
                </div>
            </div>
            <div class="img">
                <img src="./assets/imgs/solution.png">
            </div>
        </div>
    </div>
</div>