<form class="register-containter" [formGroup]="form" (submit)="save()">
    <mat-form-field
        appearance="outline" class="w-100 mt-10">
        <mat-label>Old Password</mat-label>
        <input
        formControlName="old_password"
        matInput type="password"
        autocomplete="off">

        <mat-error class="mp-0" *ngIf="form.get('old_password')?.errors">
        Please enter at least 8 characters
        </mat-error>
    </mat-form-field>

    <mat-form-field
        appearance="outline" class="w-100 mt-10">
        <mat-label>New Password</mat-label>
        <input
        formControlName="new_password"
        matInput type="password"
        autocomplete="off">

        <mat-error class="mp-0" *ngIf="form.get('new_password')?.errors">
        Please enter at least 8 characters
        </mat-error>
    </mat-form-field>

    <mat-form-field
        appearance="outline" class="w-100 mt-10">
        <mat-label>Re-password</mat-label>
        <input
        formControlName="re_password"
        matInput type="password"
        autocomplete="off">

        <mat-error class="mp-0" *ngIf="form.get('re_password')?.errors">
        Please enter at least 8 characters
        </mat-error>
    </mat-form-field>

    <p *ngIf="errMsg" class="text-danger m-0 text-center fw-400">
        {{errMsg}}
    </p>

    <button *ngIf="!isLoading" mat-flat-button color="accent" class="btn-gradient pull-right">
        Send
    </button>

    <button *ngIf="isLoading" type="button" disabled mat-flat-button color="accent" class="btn-gradient disabled text-white pull-right">
        Sending <div class="dot-loader text-white"></div>
    </button>
</form>
