<header>
    <div class="header-inner row">
        <h1 pageScroll [pageScrollOffset]="0" href="#home"  [routerLink]="['/']" >
            <img src="./assets/imgs/logo-sm.jpg" />
            Virtual Staff Avenue
        </h1>
        <nav class="menu-desktop">
            <!-- MENU END -->
            <app-menu [isLoggedIn]="isLoggedIn"></app-menu>

            <app-get-started></app-get-started>
        </nav>

        <app-menu-mobile [isLoggedIn]="isLoggedIn"></app-menu-mobile>
    </div>
</header>
  