<div class="loader" *ngIf="isLoading">
    <div class="custom-loader"></div>
</div>

<div class="container">
    <div class="row">
        <div class="careers our-team">
            <h1 class="page-header">
                <span>Our </span>
                <span class="secondary-color">Team</span>
            </h1>

            <p class="intro">Meet the driving force behind Virtual Staff Avenue—a team of four siblings on a mission to redefine how businesses thrive in the virtual realm. With expertise ranging from operational excellence to technology integration, leadership, and innovation, this team brings a diverse set of skills to the table. Virtual Staff Avenue isn't just a virtual assistance business; it's a powerhouse of solutions where experience & expertise meets cutting-edge business strategy. Get ready to experience a new standard in virtual support, guided by the collective strength of this exceptional sibling team.</p>

            <ul>
                <li *ngFor="let row of team">
                    <img src="{{row.img}}" />
                    <div>
                        <span>{{row.title}}</span>
                        <p [innerHtml]="commonService.nl2br(row.description)"></p>
                    </div>
                </li>
            </ul>
        </div>
    </div>
</div>